.OnlineUserItem {
    width: calc(100% - 40px);
    height: 20px;
    background: rgba(234, 234, 234, 0.97);
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.OnlineUserItem:hover {
    background: rgba(230, 230, 230, 0.97);
    cursor: pointer;
}

.OnlineUserItem:hover:active {
    background: rgba(226, 226, 226, 0.97);
    cursor: pointer;
}