.AuthBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border: 1px solid rgb(227, 228, 232);
    border-radius: 3vh;
    background: #ffffff;
}

.btns {
    display: flex;
    justify-content: center;
}

.EditField {
    background: rgb(255, 255, 255);
    width: 95%;
    height: calc(100% - 12px);
    font-size: 15px;
    outline: none;
    padding-left: 10px;
}

.EditField:active {
    outline: none;
}

.usernameEdit {
    width: 300px;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: 7px;
    border: 1px solid rgb(227, 228, 232);
    outline: none;
}

.passwordEdit {
    width: 300px;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: 7px;
    border: 1px solid rgb(227, 228, 232);
    outline: none;
}

.enterBtn {
    background: #ffffff;
    width: auto;
    height: 30px;
    font-size: 13px;
    display: inline-block;
    border: 1px solid rgb(227, 228, 232);
}

.regBtn {
    background: #ffffff;
    width: auto;
    height: 30px;
    margin-left: 8px;
    font-size: 13px;
    display: inline-block;
    border: 1px solid rgb(227, 228, 232);
}