.MessengerBox {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 73px);
    /*min-height: 60vh;*/
    width: 650px;
    /*max-width: 90vw;*/
    /*min-width: 50vw;*/
    margin-top: 60px;
}

.Dialogs {
    border: 1px solid rgb(227, 228, 232);
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-items: center;

    display: flex;
    flex-direction: column;
}

.EmptyDlgListMsg {
    padding-top: 15px;
    height: 100px;
    width: 100%;
    font-size: 1em;
    color: rgb(80, 89, 101);
}

.TopDialogsDiv {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(227, 228, 232);
}

.CreateDlgBtn {
    margin-bottom: 10px;
    margin-right: 5px;
    align-self: flex-end;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 0.5vw;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.3em;
    color: rgb(80, 89, 101);

}

.DialogItem {
    width: 100%;
    height: 70px;
    /*margin-bottom: 5px;*/
    display: grid;
    grid-template-areas:
    "ava preview date";
    grid-template-columns: 12% 1fr 13%;
    font-size: 100%;
}

.Avatar {
    grid-area: ava;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.AvatarImg {
    width: 50px;
    height: 50px;
}

.SmallAvatarImg {
    padding-left: 35px;
    width: 35px;
    height: 35px;
}

.DialogPreview {
    grid-area: preview;
    width: calc(100% - 0px);
    height: calc(100% - 1px);
    /*padding: 10px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-start;
    /*border-top: 1px solid rgb(227, 228, 232);*/
    border-bottom: 1px solid rgb(227, 228, 232);
}

.Name {
    margin-top: 15px;
    font-size: 0.9em;
}

.LastMsgPreview {
    margin-top: 7px;
    font-size: 0.7em;
    color: rgb(80, 89, 101);
}

.LastMsgDate {
    padding-top: 15px;
    font-size: 0.8em;
    color: rgb(80, 89, 101);
    /*border-top: 1px solid rgb(227, 228, 232);*/
    border-bottom: 1px solid rgb(227, 228, 232);
}

.DialogItem:hover {
    background: rgba(108, 171, 255, 0.19);
}

.DialogItem:hover:active {
    background: rgba(108, 171, 255, 0.23);
}

.MessagesBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.DialogInfoBar {
    background: #ffffff;
    height: 53px;
    width: calc(100% - 2px);
    display: grid;
    grid-template-areas:
            "btnBack name ava";
    grid-template-columns: 15% 1fr 15%;
    border: 1px solid rgb(227, 228, 232);
}

.BtnBack {
    grid-area: btnBack;
    background: #ffffff;
    height: 100%;
    font-size: 0.8em;
    border: 0px;
    outline: none;
}

.InterlocutorName {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Messages {
    background: #ffffff;
    padding: 5px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-left: 1px solid rgb(227, 228, 232);
    border-right: 1px solid rgb(227, 228, 232);
}

.RightSideMessageItem {
    background: #f8f8f8;
    width: auto;
    min-width: 10%;
    max-width: 60%;
    height: auto;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 15px;
    align-self: flex-end;
    text-align: left;
}

.LeftSideMessageItem {
    background: #f8f8f8;
    width: auto;
    min-width: 10%;
    max-width: 60%;
    height: auto;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 15px;
    align-self: flex-start;
    justify-content: start;
    text-align: left;
}

.Edit {
    height: 50px;
    width: calc(100% - 14px);
    background: #ffffff;
    padding: 6px;
    align-items: center;
    justify-items: start;
    border: 1px solid rgb(227, 228, 232);

    display: flex;
    flex-direction: row;
}

.EmptyBlock {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.EditField {
    background: rgb(255, 255, 255);
    width: 95%;
    height: calc(100% - 12px);
    font-size: 15px;
    outline: none;
    padding-left: 10px;
}

.EditField:active {
    outline: none;
}

.SendButton {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-left: 5px;
    outline: none;
    border: 0px;
}

.SendButton:active {
    opacity: 0.6;
}

.SendBtnIcon {
    width: 100%;
    height: 100%;
}