.OnlineUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 15%;
    height: 60vh;
    background: rgba(245, 245, 245, 0.97);
}

#chUsr {
    margin-top: 3px;
    margin-bottom: 10px;
}