.App {
  background: rgb(237, 238, 240);
  text-align: center;
  height: 100vh;
  position: relative;
  /*display: grid;*/
  /*align-items: center;*/
  /*justify-items: center;*/
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(108,171,255,0.72);
  position: absolute;
}

.header>div {
  margin-left: 150px;
}

.mainBlockOpac {
  position: absolute;
  opacity: .2;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
}

.mainBlock {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.onlineUsers {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 2;
}